<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="customview.xx.com.databindingdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".base.MainActivity"
            android:label="main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test.TestDatabindingInActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="databinding_activity"
                    android:scheme="databinding" />
            </intent-filter>

        </activity>

        <activity
            android:name=".test.TestActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="test_activity"
                    android:scheme="databinding" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ListViewActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="list_databinding_activity"
                    android:scheme="databinding" />
            </intent-filter>

        </activity>

        <activity
            android:name=".FragmentBindingActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fragment_databinding_activity"
                    android:scheme="databinding" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MovieRecycleActvity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="recyclerview_databinding_activity"
                    android:scheme="databinding" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ViewsWithIdsActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="views_withids_activity"
                    android:scheme="databinding" />
            </intent-filter>

        </activity>
    </application>

</manifest>
